.labelFrame {
  display: block;
  margin-top: 10px;
  position: fixed;
}

.item {
  border-bottom: 3px solid #d1d1d1;
}

.index {
  margin-left: 20px;
  font-size: 14pt;
}

.sentence {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px;
  font-size: 15pt;
}

.entity-buttons {
  margin-top: 10px;
  display: flex;
}

.entity-wrapper-one {
  display: flex;
  /* justify-content: space-between; */
}

.entity-wrapper-two {
  display: flex;
  /* justify-content: space-between; */
}

.set-one {
  margin-left: 20px;
  margin-right: 10px;
}

.set-two {
  margin-left: 20px;
  margin-right: 10px;
}

.entity-content {
  padding: 5px;
  font-size: 12pt;
}

.abandon-btn {
  margin-left: 20px;
  font-size: 13pt;
}

.select-type {
  margin-left: 20px;
  margin-top: 15px;
}

.relation-type {
  margin-top: 10px;
  display: flex;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #ccc;
}

.add-abandoned {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  font-size: 14px;
}

.abandonedBtn {
  margin-left: 10px;
}

.save-btn {
  width: 190px; /* 宽度 */
  height: 35px; /* 高度 */
  border-width: 0; /* 边框宽度 */
  border-radius: 3px; /* 边框半径 */
  background: #1e90ff; /* 背景颜色 */
  cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
  outline: none; /* 不显示轮廓线 */
  color: white; /* 字体颜色 */
  font-size: 17px; /* 字体大小 */
}

.save-btn:hover {
  /* 鼠标移入按钮范围时改变颜色 */
  background: #5599ff;
}

.pageFrame {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  background: white;
  height: 50px;
  border-bottom: 2px solid #ccc;
  z-index: 1;
}

.appLayout {
  display: flex;
  margin-left: 10px;
}

.addLabelBlock {
  width: 250px; /* 宽度 */
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.addLabelBtn {
  margin-left: 10px;
}

.allLabel > div {
  margin-left: 10px;
  margin-top: 10px;
  font-size: medium;
}

.Keywords {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  border-top: 1px solid #d1d1d1;
}

.TextLabels {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  border-top: 1px solid #d1d1d1;
}

.centerLayout {
  margin-left: 16%;
  padding-bottom: 40px;
  border: 2px solid #d1d1d1;
  border-top: none;
  border-bottom: none;
}

.LabelSpan {
  margin-left: 20px;
  font-size: 14px;
  color: #182026;
}

.RightLayout {
  display: block;
  width: 50%;
}

.AlgorithmTitle {
  border-bottom: 1px solid #d1d1d1;
  height: 50px;
  text-align: center;
  font-size: 12pt;
  padding-top: 14px;
}

.AlgorithmLayout {
  border-bottom: 2px solid #d1d1d1;
}

.algorithm-explained {
  outline-style: none ;
  border: 1px solid #66afe9;
  border-radius: 3px;
  margin: 10px;
  padding: 14px 14px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-family: 'Microsoft soft';*/
}

.color-item > span {
  width: 40%;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.colorBlock {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

select:hover {
  background: #EBCCD1;
}
