.item {
  border: 1px solid #ea4d4d;
  margin: 10px;
  padding: 5px;
}

.index {
  margin-left: 20px;
  font-size: 14pt;
}

.sentence {
  border: 1px solid rgb(63, 138, 230);
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  font-size: 15pt;
}

.entity-buttons {
  margin-top: 16px;
  display: flex;
}

.entity-wrapper-one {
  display: flex;
  /* justify-content: space-between; */
}

.entity-wrapper-two {
  display: flex;
  /* justify-content: space-between; */
}

.set-one {
  margin-left: 20px;
  margin-right: 10px;
}

.set-two {
  margin-left: 20px;
  margin-right: 10px;
}

.one {
  font-size: 15pt;
}

.two {
  font-size: 15pt;
}

.abandon-btn {
  margin-left: 20px;
  font-size: 13pt;
}

.select-type {
  margin-left: 20px;
  margin-top: 15px;
}

.relation-type {
  margin-top: 10px;
}

.relation-type > label {
  margin-left: 20px;
  font-size: 16pt;
  text-align: center;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #ccc;
}

.add-abandoned {
  margin-top: 12px;
  margin-left: 20px;
  display: flex;
  font-size: 14pt;
}

.abandonedBtn {
  margin-left: 10px;
}

.save-btn {
  width: 190px; /* 宽度 */
  height: 35px; /* 高度 */
  border-width: 0; /* 边框宽度 */
  border-radius: 3px; /* 边框半径 */
  background: #1e90ff; /* 背景颜色 */
  cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
  outline: none; /* 不显示轮廓线 */
  color: white; /* 字体颜色 */
  font-size: 17px; /* 字体大小 */
}

.save-btn:hover {
  /* 鼠标移入按钮范围时改变颜色 */
  background: #5599ff;
}

.pageFrame {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  border-bottom: 2px solid #ccc;
}
